* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Signika Negative", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;

  width: 100%;
  background-color: #000000;
  border-radius: 0.2rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  height: 100svh;

  background-color: #1b1a1f;
  color: #ffffff;
}

.pontos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

#container {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 3rem;

  padding-top: 6rem;
}

#optionsPlayer {
  padding-left: 2rem;
}

#optionsPlayer .ativado {
  cursor: default;
  border-radius: 20rem;
  background-color: #ff2895;
}

#vs {
  width: 5rem;
}

#optionsCPU .ativado {
  border-radius: 20rem;
  background-color: #7b0097;
}

footer {
  padding-top: 6rem;
  margin-bottom: 1rem;
}
